<div class="sandbox-control-panel">
  <div class="panel-header">
    <h3 translate>SANDBOX_CONTROLS_TITLE</h3>
  </div>

  <mat-tab-group>
    <!-- Player Controls Tab -->
    <mat-tab [label]="'SANDBOX_TAB_PLAYER' | translate">
      <div class="tab-content">
        <div class="form-group">
          <label>{{ 'SANDBOX_SELECT_PLAYER' | translate }}:</label>
          <mat-select [(value)]="selectedPlayerIndex">
            <mat-option *ngFor="let player of players; let i = index" [value]="i">
              {{ player.name }} (ID: {{ player.id }})
            </mat-option>
          </mat-select>
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_PRIZES' | translate }}:</label>
          <input type="number" [(ngModel)]="playerMods.prizes" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_HAND_SIZE' | translate }}:</label>
          <input type="number" [(ngModel)]="playerMods.handSize" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_DECK_SIZE' | translate }}:</label>
          <input type="number" [(ngModel)]="playerMods.deckSize" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_DISCARD_SIZE' | translate }}:</label>
          <input type="number" [(ngModel)]="playerMods.discardSize" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_LOST_ZONE_SIZE' | translate }}:</label>
          <input type="number" [(ngModel)]="playerMods.lostzoneSize" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <mat-checkbox [(ngModel)]="playerMods.usedVSTAR">{{ 'SANDBOX_USED_VSTAR' | translate }}</mat-checkbox>
        </div>

        <div class="form-group">
          <mat-checkbox [(ngModel)]="playerMods.usedGX">{{ 'SANDBOX_USED_GX' | translate }}</mat-checkbox>
        </div>

        <div class="button-group">
          <button mat-raised-button color="primary" (click)="applyPlayerModifications()">
            {{ 'SANDBOX_APPLY_PLAYER' | translate }}
          </button>
          <button mat-raised-button (click)="shuffleDeck()" [disabled]="!selectedPlayer">
            {{ 'SANDBOX_SHUFFLE_DECK' | translate }}
          </button>
        </div>
      </div>
    </mat-tab>

    <!-- Game State Tab -->
    <mat-tab [label]="'SANDBOX_TAB_GAME_STATE' | translate">
      <div class="tab-content">
        <div class="form-group">
          <label>{{ 'SANDBOX_TURN' | translate }}:</label>
          <input type="number" [(ngModel)]="gameStateMods.turn" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_PHASE' | translate }}:</label>
          <mat-select [(value)]="gameStateMods.phase">
            <mat-option *ngFor="let phase of gamePhases" [value]="phase.value">
              {{ phase.label | translate }}
            </mat-option>
          </mat-select>
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_ACTIVE_PLAYER_INDEX' | translate }}:</label>
          <input type="number" [(ngModel)]="gameStateMods.activePlayer" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <mat-checkbox [(ngModel)]="gameStateMods.skipOpponentTurn">{{ 'SANDBOX_SKIP_OPPONENT_TURN' | translate }}</mat-checkbox>
        </div>

        <div class="form-group">
          <mat-checkbox [(ngModel)]="gameStateMods.isSuddenDeath">{{ 'SANDBOX_SUDDEN_DEATH' | translate }}</mat-checkbox>
        </div>

        <div class="rules-section">
          <h4>{{ 'SANDBOX_RULES' | translate }}:</h4>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="gameStateMods.rules.firstTurnDrawCard">{{ 'GAMES_DRAW_CARD_FIRST_TURN' | translate }}</mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="gameStateMods.rules.firstTurnUseSupporter">{{ 'GAMES_PLAY_SUPPORTER_FIRST_TURN' | translate }}</mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="gameStateMods.rules.attackFirstTurn">{{ 'SANDBOX_ATTACK_FIRST_TURN' | translate }}</mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="gameStateMods.rules.unlimitedEnergyAttachments">{{ 'GAMES_UNLIMITED_ENERGY' | translate }}</mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="gameStateMods.rules.alternativeSetup">{{ 'GAMES_ALTERNATIVE_SETUP' | translate }}</mat-checkbox>
          </div>
        </div>

        <button mat-raised-button color="primary" (click)="applyGameStateModifications()">
          {{ 'SANDBOX_APPLY_GAME_STATE' | translate }}
        </button>
      </div>
    </mat-tab>

    <!-- Card Manipulation Tab -->
    <mat-tab [label]="'SANDBOX_TAB_CARDS' | translate">
      <div class="tab-content">
        <div class="form-group">
          <label>{{ 'SANDBOX_SELECT_PLAYER' | translate }}:</label>
          <mat-select [(value)]="selectedPlayerIndex" (selectionChange)="onPlayerChange()">
            <mat-option *ngFor="let player of players; let i = index" [value]="i">
              {{ player.name }} (ID: {{ player.id }})
            </mat-option>
          </mat-select>
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_FROM_ZONE' | translate }}:</label>
          <mat-select [(value)]="fromZone" (selectionChange)="onFromZoneChange()">
            <mat-option *ngFor="let zone of zones" [value]="zone.value">{{ zone.label }}</mat-option>
          </mat-select>
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_CARD' | translate }}:</label>
          <mat-select [(value)]="selectedCardIndex" (selectionChange)="onCardSelected()" [disabled]="availableCards.length === 0">
            <mat-option [value]="null">{{ 'SANDBOX_SELECT_CARD_PLACEHOLDER' | translate }}</mat-option>
            <mat-option *ngFor="let card of availableCards; let i = index" [value]="i">
              {{ card.name }}
            </mat-option>
          </mat-select>
          <small *ngIf="availableCards.length === 0" style="color: #888; display: block; margin-top: 4px;">
            {{ 'SANDBOX_NO_CARDS_IN_ZONE' | translate:{ zone: fromZone } }}
          </small>
        </div>

        <div class="form-group" *ngIf="availableCards.length > 0">
          <label>{{ 'SANDBOX_MULTI_SELECT' | translate }}:</label>
          <div class="card-checkbox-list">
            <div class="card-checkbox-item" *ngFor="let card of availableCards; let i = index">
              <mat-checkbox
                [checked]="isCardSelected(i)"
                (change)="onCardCheckboxChange(i, $event.checked)">
                {{ card.name }}
              </mat-checkbox>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_TO_ZONE' | translate }}:</label>
          <mat-select [(value)]="toZone">
            <mat-option *ngFor="let zone of zones" [value]="zone.value">{{ zone.label }}</mat-option>
          </mat-select>
        </div>

        <div class="button-group">
          <button mat-raised-button color="primary" (click)="addCard()">{{ 'SANDBOX_ADD_CARD' | translate }}</button>
          <button mat-raised-button color="warn" (click)="removeCard()">{{ 'SANDBOX_REMOVE_CARD' | translate }}</button>
          <button mat-raised-button color="accent" (click)="moveCard()">{{ 'SANDBOX_MOVE_CARD' | translate }}</button>
        </div>
      </div>
    </mat-tab>

    <!-- Pokemon Tab -->
    <mat-tab [label]="'SANDBOX_TAB_POKEMON' | translate">
      <div class="tab-content">
        <div class="form-group">
          <label>{{ 'SANDBOX_SELECT_PLAYER' | translate }}:</label>
          <mat-select [(value)]="selectedPlayerIndex">
            <mat-option *ngFor="let player of players; let i = index" [value]="i">
              {{ player.name }} (ID: {{ player.id }})
            </mat-option>
          </mat-select>
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_LOCATION' | translate }}:</label>
          <mat-select [(value)]="pokemonLocation">
            <mat-option value="active">{{ 'SANDBOX_ACTIVE' | translate }}</mat-option>
            <mat-option value="bench">{{ 'SANDBOX_BENCH' | translate }}</mat-option>
          </mat-select>
        </div>

        <div class="form-group" *ngIf="pokemonLocation === 'bench'">
          <label>{{ 'SANDBOX_BENCH_INDEX' | translate }}:</label>
          <input type="number" [(ngModel)]="selectedBenchIndex" min="0" max="4">
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_DAMAGE' | translate }}:</label>
          <input type="number" [(ngModel)]="pokemonMods.damage" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_HP' | translate }}:</label>
          <input type="number" [(ngModel)]="pokemonMods.hp" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate">
        </div>

        <div class="form-group">
          <label>{{ 'SANDBOX_ENERGY_COUNT' | translate }}:</label>
          <input type="number" [(ngModel)]="pokemonMods.energyCount" [placeholder]="'SANDBOX_LEAVE_EMPTY' | translate" min="0">
        </div>

        <div class="form-group" *ngIf="pokemonMods.energyCount !== null && pokemonMods.energyCount > 0">
          <label>{{ 'SANDBOX_ENERGY_TYPE' | translate }}:</label>
          <mat-select [(value)]="selectedEnergyType">
            <mat-option [value]="">{{ 'SANDBOX_SELECT_ENERGY' | translate }}</mat-option>
            <mat-option *ngFor="let energy of energyTypes" [value]="energy">
              {{ energy }}
            </mat-option>
          </mat-select>
        </div>

        <div class="conditions-section">
          <h4>{{ 'SANDBOX_CONDITIONS' | translate }}:</h4>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="pokemonMods.conditions.burned">{{ 'SANDBOX_BURNED' | translate }}</mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="pokemonMods.conditions.poisoned">{{ 'SANDBOX_POISONED' | translate }}</mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="pokemonMods.conditions.asleep">{{ 'SANDBOX_ASLEEP' | translate }}</mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="pokemonMods.conditions.paralyzed">{{ 'SANDBOX_PARALYZED' | translate }}</mat-checkbox>
          </div>
          <div class="form-group">
            <mat-checkbox [(ngModel)]="pokemonMods.conditions.confused">{{ 'SANDBOX_CONFUSED' | translate }}</mat-checkbox>
          </div>
        </div>

        <button mat-raised-button color="primary" (click)="applyPokemonModifications()">
          {{ 'SANDBOX_APPLY_POKEMON' | translate }}
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
