@import '../../../../theme/variables.scss';

.ptcg-board-prizes {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  margin-top: -10%;
  margin-left: -3px;
}

.ptcg-board-prizes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ptcg-board-card {
  width: 75px;
  // max-width: 4.5vw;
  // min-width: 4.5vw;
}