<div class="ptcg-prompt-title">
  <h2 translate>PROMPT_SHOW_CARDS_TITLE</h2>
  <div class="ptcg-u-spacer"></div>
  <button mat-button mat-icon-button (click)="minimize()">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</div>

<div class="ptcg-prompt-content">
  <p [translate]="'GAME_MESSAGES.' + prompt.message"></p>

  <ptcg-cards-container [keepInitialSize]="true">
    <ptcg-card *ngFor="let card of prompt.cards" [card]="card" (click)="onCardClick(card)">
    </ptcg-card>
  </ptcg-cards-container>
</div>

<div class="ptcg-prompt-actions">
  <twinleaf-button *ngIf="prompt.options.allowCancel" [text]="'BUTTON_CANCEL' | translate" color="secondary"
    [disabled]="gameState.deleted" (clicked)="cancel()">
  </twinleaf-button>
  <twinleaf-button [text]="'BUTTON_OK' | translate" [disabled]="gameState.deleted" (clicked)="confirm()">
  </twinleaf-button>
</div>