<div class="maintenance-flat-bg">
  <img src="assets/tlgg.png" alt="Twinleaf Logo" class="logo-img" />
  <h1 class="headline">We'll Be Back Soon</h1>
  <p class="message">
    Our servers are currently undergoing scheduled maintenance to improve your experience.<br>
    Thank you for your patience!
  </p>
  <div class="status-row">
    <mat-icon class="status-icon">schedule</mat-icon>
    <span class="status-text">Estimated downtime: <b>15-30 minutes</b></span>
  </div>
  <div class="loader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  <div class="follow">
    <a href="https://discord.com/invite/Y9XKnC8dE5"><img src="assets/discord-logo.png" alt="Join us on Discord"
        class="discord-logo" /></a>
  </div>
</div>