
.ptcg-archetype {
  background-image: url(~src/assets/energy-types.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  margin: 0 0px;
  width: 36px;

  &[archetype="charizard"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/charizard.png);
  }

  &[archetype="pidgeot"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/pidgeot.png);
  }

  &[archetype="arceus"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/arceus.png);
  }

  &[archetype="giratina"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/giratina.png);
  }

  &[archetype="chien-pao"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/chien-pao.png);
  }

  &[archetype="baxcalibur"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/baxcalibur.png);
  }

  &[archetype="comfey"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/comfey.png);
  }

  &[archetype="sableye"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/sableye.png);
  }

  &[archetype="raging-bolt"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/raging-bolt.png);
  }

  &[archetype="solrock"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/solrock.png);
  }

  &[archetype="lunatone"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/lunatone.png);
  }

  &[archetype="kyurem"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/kyurem.png);
  }

  &[archetype="murkrow"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/murkrow.png);
  }

  &[archetype="flamigo"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/flamigo.png);
  }
  &[archetype="snorlax"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/snorlax.png);
  }

  &[archetype="lugia"] {
    background-size: contain;
    background-image: url(~src/assets/archetypes/lugia.png);
  }
  
  &[archetype="energyless"] {
    background-position: -50px -50px;
  }
}
