.ptcg-archetype {
  background-image: url(~src/assets/energy-types.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  background-position: center;
  height: 32px;
  margin: 0 0px;
  width: 36px;

  &[archetype="unown"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/unown.png);
  }

  &[archetype="arceus"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/arceus.png);
  }

  &[archetype="charizard"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/charizard.png);
  }

  &[archetype="pidgeot"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/pidgeot.png);
  }

  &[archetype="miraidon"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/miraidon.png);
  }

  &[archetype="pikachu"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/pikachu.png);
  }

  &[archetype="giratina"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/giratina.png);
  }

  &[archetype="chien-pao"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/chien-pao.png);
  }

  // &[archetype="baxcalibur"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/baxcalibur.png);
  // }

  &[archetype="comfey"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/comfey.png);
  }

  // &[archetype="sableye"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/sableye.png);
  // }

  &[archetype="raging-bolt"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/raging-bolt.png);
  }

  // &[archetype="solrock"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/solrock.png);
  // }

  // &[archetype="lunatone"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/lunatone.png);
  // }

  // &[archetype="kyurem"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/kyurem.png);
  // }

  // &[archetype="murkrow"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/murkrow.png);
  // }

  // &[archetype="flamigo"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/flamigo.png);
  // }

  &[archetype="snorlax"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/snorlax.png);
  }

  &[archetype="lugia"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/lugia.png);
  }

  // &[archetype="absol"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/absol.png);
  // }

  // &[archetype="dipplin"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/dipplin.png);
  // }

  // &[archetype="thwackey"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/thwackey.png);
  // }

  // &[archetype="bibarel"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/bibarel.png);
  // }

  // &[archetype="iron-crown"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/iron-crown.png);
  // }

  &[archetype="palkia-origin"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/palkia-origin.png);
  }

  // &[archetype="archeops"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/archeops.png);
  // }

  // &[archetype="blissey"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/blissey.png);
  // }

  // &[archetype="cinccino"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/cinccino.png);
  // }

  &[archetype="dragapult"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/dragapult.png);
  }

  // &[archetype="drifloon"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/drifloon.png);
  // }

  // &[archetype="froslass"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/froslass.png);
  // }

  &[archetype="gardevoir"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/gardevoir.png);
  }

  // &[archetype="greninja"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/greninja.png);
  // }

  // &[archetype="iron-hands"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/iron-hands.png);
  // }

  // &[archetype="koraidon"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/koraidon.png);
  // }

  // &[archetype="luxray"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/luxray.png);
  // }

  // &[archetype="ogerpon"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/ogerpon.png);
  // }

  // &[archetype="thwackey"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/thwackey.png);
  // }

  &[archetype="roaring-moon"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/roaring-moon.png);
  }

  // &[archetype="rotom"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/rotom.png);
  // }

  // &[archetype="sandy-shocks"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/sandy-shocks.png);
  // }

  // &[archetype="xatu"] {
  //   background-size: contain;
  //   background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/xatu.png);
  // }

  &[archetype="terapagos"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/terapagos.png);
  }

  &[archetype="iron-thorns"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/iron-thorns.png);
  }

  &[archetype="regidrago"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/regidrago.png);
  }

  &[archetype="ceruledge"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/ceruledge.png);
  }

  &[archetype="archaludon"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/archaludon.png);
  }

  &[archetype="klawf"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/klawf.png);
  }

  &[archetype="gouging-fire"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/gouging-fire.png);
  }


  &[archetype="gholdengo"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/gholdengo.png);
  }

  &[archetype="iron-crown"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/iron-crown.png);
  }

  &[archetype="feraligatr"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/feraligatr.png);
  }

  &[archetype="blissey"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/blissey.png);
  }

  &[archetype="milotic"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/milotic.png);
  }

  &[archetype="teal-mask-ogerpon"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/teal-mask-ogerpon.png);
  }

  &[archetype="zorark"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/zorark.png);
  }

  &[archetype="bellibolt"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/bellibolt.png);
  }

  &[archetype="flareon"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/flareon.png);
  }

  &[archetype="tyrantiar"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/tyrantiar.png);
  }

  &[archetype="slowking"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/slowking.png);
  }

  &[archetype="mamoswine"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/mamoswine.png);
  }

  &[archetype="clefairy"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/clefairy.png);
  }

  &[archetype="zacian"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/zacian.png);
  }

  &[archetype="froslass"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/froslass.png);
  }

  &[archetype="dipplin"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/dipplin.png);
  }

  &[archetype="rotom"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/rotom.png);
  }

  &[archetype="hydrapple"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/hydrapple.png);
  }

  &[archetype="garchomp"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/garchomp.png);
  }

  &[archetype="hooh"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/ho-oh.png);
  }

  &[archetype="hydreigon"] {
    background-size: contain;
    background-image: url(https://r2.limitlesstcg.net/pokemon/gen9/hydreigon.png);
  }
}