@import '../../../theme/variables.scss';

$ptcg-sidenav-close-button-size: 40px;
$ptcg-sidenav-close-margin: $ptcg-sidenav-close-button-size - map-get($padding, normal);


.ptcg-sidenav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
}

.ptcg-sidenav-label-container {
  max-width: calc(100% - 40px);
  color: white;
  font-weight: bold;
  padding: 0;
}

.ptcg-sidenav-label-badge {
  display: flex;
  max-width: 100%;
}

.ptcg-sidenav-label-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close-button {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 8px;
  height: 32px;
  width: 32px;
  line-height: 32px;

  &:hover {
    color: white;
  }

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 18px;
  }
}