<h2 mat-dialog-title>
  <span *ngIf="facedown" translate>CARDS_UNKNOWN</span>

</h2>

<mat-dialog-content>
  <ptcg-card-info-pane [card]="card" [cardList]="cardList" [facedown]="facedown" [options]="options" [players]="players"
    (action)="close($event)" (cardSwap)="onCardSwap($event)">
  </ptcg-card-info-pane>
</mat-dialog-content>

<mat-dialog-actions>
  <twinleaf-button *ngIf="cardList" [text]="'CARDS_SHOW_CARD_LIST' | translate" [disabled]="!card"
    (clicked)="showCardList()">
  </twinleaf-button>
  <section class="ptcg-card-info-reveal-cards" *ngIf="allowReveal">
    <mat-checkbox color="primary" name="reveal-card" [checked]="!facedown" (change)="facedown = !facedown">
      {{ 'CARDS_REVEAL_CARDS' | translate }}
    </mat-checkbox>
  </section>
  <span class="ptcg-u-spacer"></span>
  <twinleaf-button [text]="'BUTTON_CLOSE' | translate" (clicked)="close()" cdkFocusInitial>
  </twinleaf-button>
</mat-dialog-actions>