<!-- <div class="connection-status" *ngIf="shouldShowStatus()" [class]="getConnectionStatusClass()"
  [matTooltip]="getTooltipText()" [matTooltipDisabled]="!shouldShowTooltip()">
  <mat-icon class="status-icon">
    {{ isConnected ? 'wifi' : (reconnectionStatus.isReconnecting ? 'wifi_tethering' : 'wifi_off') }}
  </mat-icon>
  <div class="status-content">
    <span class="status-text">{{ getConnectionStatusText() }}</span>
    <span class="connection-quality" *ngIf="!isConnected">Quality: {{ getConnectionQuality() }}</span>
  </div>
</div> -->