<div class="settings-dialog-container">
  <div class="settings-dialog">
    <h2>Settings</h2>
    <div class="settings-content">
      <label>
        <input type="checkbox" [(ngModel)]="holoEnabled"> Enable Holo Effects
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="showCardName"> Show Card Names
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="showTags"> Show Tags
      </label>
      <label *ngIf="has3dBoardAccess">
        <input type="checkbox" [(ngModel)]="use3dBoardDefault"> Start Games with 3D Board
      </label>
      <div class="slider-container">
        <label>Card Size</label>
        <input type="range" [(ngModel)]="cardSize" min="50" max="200" step="10" (change)="onCardSizeChange($event)">
        <span>{{cardSize}}%</span>
      </div>
      <div class="hidden-formats-container">
        <label class="section-label">Hidden Formats</label>
        <div class="format-checkboxes">
          <label *ngFor="let format of availableFormats">
            <input type="checkbox" [checked]="isFormatHidden(format.value)"
              (change)="onHiddenFormatsChange(format.value, $event.target.checked)">
            {{ format.label | translate }}
          </label>
        </div>
      </div>
    </div>
    <div class="settings-actions">
      <button (click)="dialogRef.close()">Cancel</button>
      &nbsp;
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>