<h2 mat-dialog-title translate>
  <!-- CARDS_LIST_OF_CARDS -->
</h2>

<mat-dialog-content>
  <div style="margin-bottom: 10px;">
    <label>
      <input type="checkbox" [(ngModel)]="sortDiscards" (change)="onSortDiscardsChange()" />
      Sort Discard
    </label>
  </div>

  <ptcg-card-list-pane [selected]="card" [cardList]="cardList" [facedown]="facedown" (cardClick)="showCardInfo($event)">
  </ptcg-card-list-pane>
</mat-dialog-content>

<div class="dialog-actions">
  <section class="ptcg-card-info-reveal-cards" *ngIf="allowReveal">
    <mat-checkbox color="primary" name="reveal-card" [checked]="!facedown" (change)="facedown = !facedown">
      {{ 'CARDS_REVEAL_CARDS' | translate }}
    </mat-checkbox>
  </section>
  <span class="ptcg-u-spacer"></span>
  <twinleaf-button [text]="'BUTTON_CLOSE' | translate" (clicked)="close()">
  </twinleaf-button>
</div>