@import '../theme/variables.scss';


:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  >mat-sidenav-container {
    flex: 1 1;
    z-index: unset;
    background-color: #1A202C;
  }

  >mat-sidenav-container>mat-sidenav-content {
    z-index: unset;
  }
}

::ng-deep .mat-dialog-container {
  background: rgba(26, 32, 44);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  .mat-dialog-actions {
    color: white;
    caret-color: white;
  }

  .mat-raised-button {
    background-color: #449058;
    border-radius: 16px;
  }

  .ptcg-card-list-pane {
    background: rgb(22, 26, 36);
  }
}

.ptcg-app-sidenav {
  width: map-get($ptcg-size, nav-menu);
}

@font-face {
  font-family: 'PTCG';
  src: url('/assets/fonts/ptcg-font.ttf') format('truetype');
}

.energy-symbol {
  font-family: 'PTCG', sans-serif;
}

// Style the dropdown panel
::ng-deep .mat-select-panel {
  background: #1a1f29;
  border-radius: 16px;
  margin-top: 40px;

  .mat-option {
    color: white;
    font-size: 12px;
    height: 32px;
    line-height: 32px;

    &:hover:not(.mat-option-disabled),
    &:focus:not(.mat-option-disabled) {
      background: rgba(255, 255, 255, 0.1);
    }

    &.mat-selected:not(.mat-option-disabled) {
      background: rgba(255, 255, 255, 0.1);
      color: white;
    }
  }
}

//mat-menu-content

// Custom styles for the mat-select trigger
::ng-deep .mat-select-trigger {
  // Text color of the selected value
  color: #ccc;
}

// Custom styles for the mat-select arrow icon
::ng-deep .mat-select-arrow {
  // Color of the arrow icon
  color: #999;
}

::ng-deep .no-ripple .mat-ripple-element {
  display: none !important;
}

::ng-deep {
  .mat-snack-bar-container {
    border-radius: 32px !important;
    background: #101219 !important;
    border: 2px solid #459058 !important;
    color: white !important;
    transform: scale(0.75);
    display: inline-block !important;
    min-width: unset !important;
    width: auto !important;
    max-width: 80vw !important;
  }

  .error-snackbar {
    background: #101219;
    color: white;
    min-width: unset !important;
    width: auto !important;
    height: 40px !important;
    margin-top: 60px !important;

    // Message text styling
    .mat-simple-snackbar {
      font-family: 'Segoe UI', sans-serif;
      font-weight: 500;
      justify-content: center;
    }
  }
}

::ng-deep .mat-menu-panel {
  .mat-menu-item {
    height: 36px;
    line-height: 36px;
  }
}