@use '@angular/material' as mat;
@use '@angular/cdk' as cdk;

@mixin ptcg-prompt-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $ptcg-cards-container-background: mat.get-color-from-palette($background, app-bar);
  $swift-ease-out-duration: 400ms !default;
  $swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;

  ptcg-prompt {
    .ptcg-prompt-overlay {
      background: cdk.$overlay-backdrop-color;
      transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function;

    }

    .mat-raised-button {
      background-color: #449058;
      border-radius: 16px;
      margin-bottom: 6px;
      margin-top: 4px;
    }

    .ptcg-prompt-container {
      background: rgba(26, 32, 44);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.1);

    }
  }

  ptcg-cards-container .ptcg-cards-container,
  ptcg-choose-pokemons-pane .ptcg-choose-pokemons-pane {
    background: rgb(22, 26, 36);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@mixin ptcg-prompt-typography($config) {

  ptcg-prompt-move-damage {
    .ptcg-damage-value {
      @include mat.typography-level($config, button);
      font-size: 1.5em;
    }
  }

}