<div class="ptcg-contact-bar" [class.active]="active" [class.marked]="marked" [routerLink]="['/message', user.userId]"
  *ngIf="user$ | async as user">

  <div class="ptcg-contact-avatar-box">
    <!-- <ptcg-custom-avatar *ngIf="user.customAvatar; else defaultAvatar" [avatar]="user.customAvatar"></ptcg-custom-avatar>
    <ng-template #defaultAvatar> -->
    <ptcg-avatar class="ptcg-contact-avatar" [avatarFile]="user.avatarFile">
    </ptcg-avatar>
    <!-- </ng-template> -->
  </div>

  <div class="ptcg-contact-info">
    <div class="ptcg-contact-name" [style.color]="user.ranking ? user.ranking.color : null">
      {{ user.name }}
    </div>
    <div class="ptcg-contact-message">
      {{ conversation.lastMessage?.text }}
    </div>
  </div>

</div>