<div *ngIf="!useInteractiveBoard || (gameState && gameState.replay)">
  <div class="ptcg-prompt-title">
    <h2 translate>PROMPT_CHOOSE_POKEMON_TITLE</h2>
    <div class="ptcg-u-spacer"></div>
    <button mat-button mat-icon-button *ngIf="!gameState.replay" (click)="minimize()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <div class="ptcg-prompt-content">
    <p [translate]="'GAME_MESSAGES.' + message"></p>

    <ptcg-choose-pokemons-pane [pokemonData]="pokemonData" (cardClick)="onCardClick($event)">
    </ptcg-choose-pokemons-pane>

  </div>

  <div class="ptcg-prompt-actions">
    <button mat-raised-button *ngIf="allowedCancel && !gameState.replay" [disabled]="gameState.deleted"
      (click)="cancel()">
      {{ 'BUTTON_CANCEL' | translate }}
    </button>
    <button mat-raised-button *ngIf="!gameState.replay" [disabled]="gameState.deleted || isInvalid" (click)="confirm()">
      {{ 'BUTTON_OK' | translate }}
    </button>
  </div>
</div>

<!-- No need for a placeholder when using the interactive board selection -->
<!-- The prompt is automatically minimized and we directly interact with the board -->