@import '../../../theme/variables.scss';

$ptcg-hand-padding: map-get($padding, normal);
$ptcg-hand-height: calc(var(--card-size) * #{$card-aspect-ratio} + #{4 * $ptcg-hand-padding});
$ptcg-hand-max-margin: map-get($padding, normal);

.ptcg-hand {
  margin-bottom: -69px;
  display: flex;
  height: 215px;
  overflow: auto;
}

.ptcg-hand-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  margin: 0 auto;
}

dnd-sortable-list {
  display: flex;
}

ptcg-card-damage {
  position: absolute;
  width: 80%;
  padding: 5px;
  font-size: smaller;
  // z-index: 1;
}

ptcg-card-marker {
  position: absolute;
  width: 80%;
  padding: 5px;
  font-size: smaller;
  // z-index: 1;
}


ptcg-badge {
  position: absolute;
  width: 80%;
  padding: 5px;
  font-size: smaller;
  // z-index: 1;
}

ptcg-card {
  flex: 0 0 auto;
  width: 100px;
  padding: 3px;

  &.draggable {
    touch-action: none;
  }
  
  transition: transform .2s;
  
  &:hover {
    transform: scale(1.25) translateY(-12.5px); // Add translateY(-10px) to slide up 10px
    z-index: 10;
  }

  @media (min-width: 1710px) {
    width: 91px;
  }

  @media (min-width: 1470px) and (max-width: 1709px) {
    width: 82px;
  }

  @media (max-width: 1469px) {
    width: 73px;
  }
}

.ptcg-card-preview {
  position: absolute;
  width: var(--card-size);
}

.ptcg-card-marker {
  position: absolute;
  width: var(--card-size);
}