@import '../../../theme/variables.scss';

$ptcg-hand-padding: map-get($padding, normal);
$ptcg-hand-height: calc(var(--card-size) * #{$card-aspect-ratio} + #{4 * $ptcg-hand-padding});
$ptcg-hand-max-margin: map-get($padding, normal);

.ptcg-hand {
  margin-bottom: -70px;
  display: flex;
  height: 190px;
  // overflow: auto;
  /* Add this line to center horizontally */
  justify-content: center;
  /* Add this line to center horizontally */
}

.ptcg-hand-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  // margin: 0 auto;
  // The padding will be dynamically set by the component
}

dnd-sortable-list {
  display: flex;
}

ptcg-badge {
  position: absolute;
  width: 80%;
  padding: 5px;
  font-size: smaller;
  // z-index: 1;
}

ptcg-card {
  flex: 0 0 auto;
  width: 88px;
  // Remove the static padding from here
  transition: transform .2s;

  &.draggable {
    touch-action: none;
  }

  &:hover {
    transform: scale(1.15) translateY(-12.5px);
    z-index: 10;
  }
}

// ptcg-card {
//   flex: 0 0 auto;
//   width: 98px;
//   margin: 3px;

//   &.draggable {
//     touch-action: none;
//   }

//   transition: transform .2s;

//   &:hover {
//     transform: scale(1.15) translateY(-12.5px); // Add translateY(-10px) to slide up 10px
//     z-index: 10;
//   }
// }

.ptcg-hand.opponent {
  position: static;
  z-index: 1;
  margin-top: -100px;
  transform: rotate(180deg);
  // margin: 0 auto;
  // display: flex;
  justify-content: center;
  height: 170px; // Add this line to set a fixed height
  // overflow: hidden; // Add this to prevent overflow
  // align-items: flex-end; // Add this to align cards to the bottom of the container

  // ptcg-hand.opponent ptcg-card {
  //   width: 80px;
  // }

  ptcg-card {
    width: 88px;
    margin-bottom: -70px; // Add this to give some space at the bottom

    &:hover {
      transform: scale(1.075) translateY(-8.5px); // Change to positive value
    }
  }
}

.ptcg-card-preview {
  border-radius: $card-border-radius;
  position: absolute;
  width: 98px;
}