@use '@angular/material' as mat;
@use 'sass:map';

@import './_theme.scss';
@import "variables.scss";
@import "global.scss";
@import "utils.scss";

// NOTE: Theming is currently experimental and not yet publically released!

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
$ptcg-primary: mat.define-palette(mat.$grey-palette, A700);
$ptcg-accent: mat.define-palette(mat.$grey-palette, A200);
$ptcg-warn: mat.define-palette(mat.$deep-orange-palette);

// Create the theme object (a Sass map containing all of the palettes).
$ptcg-theme: mat.define-dark-theme((color: (primary: $ptcg-primary,
        accent: $ptcg-accent,
        warn: $ptcg-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

$ptcg-colors: (
  ability: #e3350d,
  poke-body: #4dad5b
);

$ptcg-theme: map.merge($ptcg-theme, (ptcg: $ptcg-colors));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ptcg-theme);

@include ptcg-theme($ptcg-theme);

// Create a config with the default typography levels.
$config: mat.define-typography-config($body-2: mat.define-typography-level(14px, 24px, 700));

@include ptcg-typography($config);