@import "variables.scss";

/* Ensure app-wide uppercase variant when desired */
.uppercase-all {
    text-transform: uppercase !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: $bg-primary;
    color: $text-primary;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

a {
    background-color: transparent;
    cursor: pointer;
}

a:active,
a:hover {
    outline: 0 none;
    text-decoration: underline;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

img {
    border: 0 none;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}

input {
    line-height: normal;
}

legend {
    border: 0 none;
    padding: 0;
}

textarea {
    overflow: auto;
}

p {
    margin-bottom: map-get($padding, normal);
}

table {
    width: 100%;
}

[hidden] {
    display: none !important;
}


/* Some material overrides, and fixes */
mat-dialog-container {
    background: $bg-card;
    border-radius: 10px;
    border: 1px solid $twinleaf-green;
    position: relative;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 0;
}

mat-dialog-content {
    >form mat-form-field {
        width: 100%;
    }
}

.ptcg-no-padding-list-item {
    >.mat-list-item-content {
        padding: 0 !important;
    }
}

// Twinleaf color styles
.twinleaf-red {
    color: $twinleaf-red;
}

.twinleaf-gold {
    color: $twinleaf-gold;
}