@keyframes ptcg-u-loading-animation {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.ptcg-u-top {
  left: 0;
  position: absolute !important;
  right: 0;
  top: 0;
}

.ptcg-u-spacer {
  flex: 1 1 auto;
}

.ptcg-u-padding {
  padding: map-get($padding, normal);
}