<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  <p *ngIf="message">{{ message }}</p>

  <form #form="ngForm" autocomplete="off">

    <!-- Number -->
    <mat-form-field>
      <mat-label>{{placeholder}}</mat-label>
      <input matInput type="number" name="value" placeholder="{{placeholder}}" ptcgNumberValidator
        [ptcgNumberValidatorMin]="min" [ptcgNumberValidatorMax]="max" [(ngModel)]="value" #numberField="ngModel">
      <mat-error *ngIf="!numberField.pristine && numberField.invalid" translate>
        VALIDATION_INVALID_NUMBER
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>

<div class="dialog-actions">
  <twinleaf-button [text]="'BUTTON_CANCEL' | translate" color="secondary" (clicked)="cancel()">
  </twinleaf-button>
  <twinleaf-button [text]="'BUTTON_OK' | translate" (clicked)="confirm()" [disabled]="form.invalid">
  </twinleaf-button>
</div>