<dnd-preview [allBackends]="true">
  <ng-template let-type let-item="item">
    <ng-container [ngSwitch]="type">
      <div class="ptcg-card" *ngSwitchCase="'DECK_CARD'">
        <img class="ptcg-card-preview" [ptcgImageCache]="item.data.scanUrl">
      </div>
    </ng-container>
  </ng-template>
</dnd-preview>

<!-- (cdkDropListDropped)="onDeckDrop($event)" -->

<div class="ptcg-deck-edit-pane-secondary" cdkDropList [cdkDropListConnectedTo]="['library']"
  [cdkDropListData]="tempList">
  <button mat-icon-button class="library-toggle" (click)="toggleLibrary()"
    [matTooltip]="(showLibrary ? 'Hide' : 'Show') + ' Card Library'">
    <mat-icon>{{ showLibrary ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>
  <div #deckPane>
    <div *ngFor="let item of tempList" cdkDrag [cdkDragData]="item">
      <ptcg-deck-card [ptcgCardPlaceholder]="true" showCardCount="true" (infoClick)="showCardInfo(item)"
        (cardClick)="onDeckCardClick(item)" (countClick)="setCardCount(item)" [showDetailButtons]="true"
        (cardSelected)="onCardSelectedOnDialog(item, $event.card, $event.action)" [card]="item">
      </ptcg-deck-card>
    </div>
  </div>
  <div class="deck-validity-container">
    <ptcg-deck-validity [deck]="tempList"></ptcg-deck-validity>
  </div>
</div>

<cdk-virtual-scroll-viewport *ngIf="showLibrary" class="ptcg-deck-edit-pane" cdkDropList id="library"
  (cdkDropListDropped)="onLibraryDrop($event)" [cdkDropListConnectedTo]="['deck']" [cdkDropListData]="cards"
  [itemSize]="77" minBufferPx="900" maxBufferPx="1800">
  <div *cdkVirtualFor="let card of (cards | filterCards: toolbarFilter)" cdkDrag [cdkDragData]="card">
    <ptcg-deck-card (cardClick)="onLibraryCardClick(card)" [showDetailButtons]="true"
      (cardSelected)="onCardSelectedOnDialog(card, $event.card, $event.action)" [card]="card">
    </ptcg-deck-card>
  </div>
</cdk-virtual-scroll-viewport>