@import '../../../theme/variables.scss';

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ptcg-deck-edit-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ptcg-deck-edit-panes-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: auto;
  min-width: 250px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ptcg-deck-edit-pane,
.ptcg-deck-edit-pane-secondary {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 0;
  position: relative;
  overflow-y: auto;
}

.ptcg-deck-edit-pane {
  flex: 0 0 300px;
  background-color: #222a3a;
}

.ptcg-deck-edit-pane-secondary {
  flex: 1 1 auto;
  background-color: #2D3748;
  position: relative;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

.ptcg-deck-edit-pane-secondary>.deck-content {
  flex: 1 1 auto;
  min-height: 0;
}

ptcg-deck-card {
  margin: 5px;
}

ptcg-deck-card.placeholder {
  opacity: $ptcg-disabled-opacity;
  overflow: auto;
}

.ptcg-card-preview {
  border-radius: $card-border-radius;
  position: absolute;
  width: map-get($ptcg-size, card);
  overflow: auto;
}

.deck-validity {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: bottom;
}

.deck-validity-container {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 0;
  background: #2D3748;
  z-index: 10;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

// .deck-pane-container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

// .deck-pane {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: auto;
//   min-height: 100%;
// }

.library-toggle {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
  background-color: #2D3748;
  color: white;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #3a4659;
  }

  mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
}