<dnd-preview [allBackends]="true">
  <ng-template let-type let-item="item">
    <ng-container [ngSwitch]="type">
      <div class="ptcg-card" *ngSwitchCase="'DECK_CARD'">
        <img class="ptcg-card-preview" [ptcgImageCache]="item.data.scanUrl">
      </div>
    </ng-container>
  </ng-template>
</dnd-preview>

<cdk-virtual-scroll-viewport *ngIf="showLibrary" class="ptcg-deck-edit-pane" [dropTarget]="libraryTarget"
  ptcgDropHighlight [ptcgDropHighlightVisible]="libraryHighlight$ | async" [itemSize]="77" minBufferPx="900"
  maxBufferPx="1800">
  <ptcg-deck-card *cdkVirtualFor="let card of (cards | filterCards: toolbarFilter)" [dndSortableExternal]="card.spec"
    #ext="dndSortableExternal" [source]="ext.source" (cardClick)="onLibraryCardClick(card)"
    (cardSelected)="onCardSelectedOnDialog(render.data, $event.card, $event.action)" (addCard)="addCardToDeck(card)"
    (removeCard)="removeCardFromDeck(card)" [card]="card" [isLibraryCard]="true">
  </ptcg-deck-card>
</cdk-virtual-scroll-viewport>

<div class="ptcg-deck-edit-pane-secondary" [dropTarget]="deckTarget" ptcgDropHighlight
  [ptcgDropHighlightVisible]="deckHighlight$ | async">
  <button mat-icon-button class="library-toggle" (click)="toggleLibrary()"
    [matTooltip]="(showLibrary ? 'Hide' : 'Show') + ' Card Library'" [disabled]="disabled">
    <mat-icon>{{ showLibrary ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>
  <div #deckPane>
    <dnd-sortable-list listId="CARD_LIBRARY_LIST" hoverTrigger="fixed" [children]="tempList" [spec]="deckSpec">
      <ng-template dndSortableTemplate let-context>
        <ptcg-deck-card [dndSortableRender]="context" #render="dndSortableRender"
          [ptcgCardPlaceholder]="render.isDragging$" [source]="render.source" showCardCount="true"
          (countClick)="setCardCount(render.data)"
          (cardSelected)="onCardSelectedOnDialog(render.data, $event.card, $event.action)"
          (addCard)="addCardToDeck(render.data)" (removeCard)="removeCardFromDeck(render.data)" [card]="render.data">
        </ptcg-deck-card>
      </ng-template>
    </dnd-sortable-list>
  </div>
  <div class="deck-validity-container">
    <ptcg-deck-validity [deck]="tempList"></ptcg-deck-validity>
  </div>
</div>