@import '../../../theme/variables.scss';

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: auto;
}

.ptcg-deck-edit-pane {
  flex: 1 1 0;
  overflow: auto;
  max-width: 250px;
}

.ptcg-deck-edit-pane.secondary {
  border-width: 0px;
  overflow: auto;
  max-width: 100%;
}

ptcg-deck-card.placeholder {
  opacity: $ptcg-disabled-opacity;
  overflow: auto;
}

.ptcg-card-preview {
  border-radius: $card-border-radius;
  position: absolute;
  width: map-get($ptcg-size, card);
  overflow: auto;
}

.deck-validity {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  place-content: center;
}

// .deck-pane-container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

// .deck-pane {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: auto;
//   min-height: 100%;
// }