<form [formGroup]="form">
  <mat-toolbar class="ptcg-deck-edit-toolbar">
    <mat-toolbar-row>
      <h1 *ngIf="deck" translate [translateParams]="{name: deck.name}">
        DECK_EDIT_TITLE
      </h1>
  
      <span class="ptcg-u-spacer"></span>
  
      <button mat-raised-button [routerLink]="['/deck']">
        <mat-icon>arrow_back</mat-icon>
        <span translate>DECK_EDIT_BACK</span>
      </button>
  
      <button mat-raised-button [disabled]="disabled" (click)="exportToFile()">
        {{ 'BUTTON_EXPORT' | translate }}
      </button>
  
      <button mat-raised-button [disabled]="disabled" (click)="importFromClipboard()">
  <!----      {{ 'BUTTON_IMPORT_FROM_FILE' | translate }} ---->
        {{ 'BUTTON_IMPORT' | translate }}
      </button>
  
      <button mat-raised-button color="primary" [disabled]="disabled" (click)="onSave()">
        {{ 'BUTTON_SAVE' | translate }}
      </button>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="search-toolbar">
      
      <mat-button-toggle-group formControlName="supertype" aria-label="Supertype" [multiple]="false">
        <mat-button-toggle value="Pokémon">Pokémon</mat-button-toggle>
        <mat-button-toggle value="Trainer">Trainer</mat-button-toggle>
        <mat-button-toggle value="Energy">Energy</mat-button-toggle>
      </mat-button-toggle-group>      
      
      <span class="ptcg-u-spacer"></span>
  
      <ptcg-search-box (search)="onSearch($event)" 
                        [showSearchButton]="false" 
                        label="{{ 'BUTTON_SEARCH_TEXT' | translate }}">
      </ptcg-search-box>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
