<form [formGroup]="form">
  <mat-toolbar class="ptcg-deck-edit-toolbar">
    <mat-toolbar-row>
      <h1 *ngIf="deck" translate [translateParams]="{name: deck.name}">
        DECK_EDIT_TITLE
      </h1>
  
      <span class="ptcg-u-spacer"></span>
  
      <button mat-raised-button [routerLink]="['/deck']">
        <mat-icon>arrow_back</mat-icon>
        <span translate>DECK_EDIT_BACK</span>
      </button>
  
      <button mat-raised-button [disabled]="disabled" (click)="exportToFile()">
        {{ 'BUTTON_EXPORT' | translate }}
      </button>
  
      <button mat-raised-button [disabled]="disabled" (click)="importFromClipboard()">
        {{ 'BUTTON_IMPORT' | translate }}
      </button>
  
      <button mat-raised-button color="primary" [disabled]="disabled" (click)="onSave()">
        {{ 'BUTTON_SAVE' | translate }}
      </button>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="search-toolbar">
      <mat-button-toggle-group formControlName="superTypes" aria-label="Supertype" [multiple]="true">
        <mat-button-toggle *ngFor="let superType of superTypes" [value]="superType.value">
          {{ superType.label | translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>      
  
      <mat-form-field floatLabel="never" appearance="legacy">
        <mat-select [multiple]="true" [placeholder]="'DECK_EDIT_ALL_TAGS' | translate" formControlName="tags">
          <mat-option *ngFor="let cardTag of cardTags" [value]="cardTag.value">
            {{ cardTag.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field floatLabel="never" appearance="legacy">
        <mat-select [multiple]="true" [placeholder]="'DECK_EDIT_ALL_FORMATS' | translate" formControlName="formats">
          <mat-option *ngFor="let format of formats" [value]="format.value">
            {{ format.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <span class="ptcg-u-spacer"></span>
  
      <ptcg-search-box (search)="onSearch($event)" 
                       [showSearchButton]="false" 
                       [isActivated]="true"
                       label="{{ 'BUTTON_SEARCH_TEXT' | translate }}">
      </ptcg-search-box>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="showPokemonSearchRow$ | async">
      <ptcg-type-icons (typeSelected)="onTypeSelected($event)"></ptcg-type-icons>        
      
      <mat-form-field floatLabel="never" appearance="legacy">          
        <mat-select [multiple]="true" [placeholder]="'DECK_EDIT_STAGES' | translate" formControlName="stages">
          <mat-option *ngFor="let stage of stages" [value]="stage.value">
            {{ stage.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field floatLabel="never" appearance="legacy">          
        <mat-select [multiple]="true" [placeholder]="'DECK_EDIT_ATTACK_COST' | translate" formControlName="attackCosts">
          <mat-option *ngFor="let cost of attackCost" [value]="cost.value">
            {{ cost.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field floatLabel="never" appearance="legacy">          
        <mat-select [multiple]="true" [placeholder]="'DECK_EDIT_RETREAT_COST' | translate" formControlName="retreatCosts">
          <mat-option *ngFor="let cost of retreatCost" [value]="cost.value">
            {{ cost.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- <mat-checkbox formControlName="hasAbility">
        {{ 'CARDS_ABILITY' | translate }}
      </mat-checkbox> -->
    </mat-toolbar-row>
    <mat-toolbar-row>
      <ng-container *ngIf="showTrainerSearchRow$ | async">
        <mat-form-field floatLabel="never" appearance="legacy">          
          <mat-select [multiple]="true" [placeholder]="'DECK_EDIT_TRAINERS' | translate" formControlName="trainerTypes">
            <mat-option *ngFor="let trainerType of trainerTypes" [value]="trainerType.value">
              {{ trainerType.label | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>      
      </ng-container>
      <ng-container *ngIf="showEnergySearchRow$ | async">
        <mat-form-field floatLabel="never" appearance="legacy">          
          <mat-select [multiple]="true" [placeholder]="'DECK_EDIT_ENERGY' | translate" formControlName="energyTypes">
            <mat-option *ngFor="let energyType of energyTypes" [value]="energyType.value">
              {{ energyType.label | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>      
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
