@import '../../../../theme/global.scss';

// .ptcg-prompt-wait {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   min-height: 120px;
// }

// .wait-message {
//   margin-top: 16px;
//   font-size: 16px;
//   color: #666;
//   text-align: center;
// }