<div class="ptcg-message-entry" [class.ptcg-written-by-me]="writtenByMe" *ngIf="user$ | async as user">
  <div class="ptcg-message-avatar-box" *ngIf="!writtenByMe">
    <ptcg-avatar class="ptcg-message-avatar" [avatarFile]="user.avatarFile">
    </ptcg-avatar>
  </div>

  <div class="ptcg-message-content-wrapper">
    <div class="ptcg-message-header" *ngIf="!writtenByMe">
      <span class="ptcg-message-sender" [routerLink]="['/profile', message.senderId]"
        [style.color]="user.ranking ? user.ranking.color : null">
        {{ user.name }}
      </span>
      <span class="ptcg-message-timestamp">
        {{ formatTimestamp(message.created) }}
      </span>
    </div>

    <div class="ptcg-message-bubble" [class.ptcg-message-bubble-sent]="writtenByMe">
      <div class="ptcg-message-text">
        {{ message.text }}
      </div>
      <div class="ptcg-message-status" *ngIf="writtenByMe">
        <mat-icon class="ptcg-message-status-icon" [class.ptcg-message-read]="message.isRead">check</mat-icon>
      </div>
    </div>

    <div class="ptcg-message-header ptcg-message-header-sent" *ngIf="writtenByMe">
      <span class="ptcg-message-timestamp">
        {{ formatTimestamp(message.created) }}
      </span>
    </div>
  </div>
</div>