@import '../../../../theme/variables.scss';

.ptcg-board-deck {
  display: flex;
  flex-direction: column;
  height: 337px;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%;
}

ptcg-board-card {
  width: 75px;
  margin-top: -43%;
}

.deck-container,
.discard-container {
  position: relative;
}

.deck-card,
.discard-card {
  position: absolute;
  left: 0;
  top: 0;
}
