@import '../../../../theme/variables.scss';

.ptcg-board-deck {
  display: flex;
  flex-direction: column;
  height: 330px;
  justify-content: space-around;
  margin: 0 auto;
  width: calc(50% - #{map-get($padding, small)});
  max-width: map-get($ptcg-size, card);
}

ptcg-board-card {
  width: 100%
}
