:host {
  display: block;
  height: 100%;
  width: 100%;
}

.ptcg-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

ptcg-board {
  flex: 1 1 auto;
  background-color: #212835;
  background-image: url(~src/assets/twinleaf-board-center.png);
  background-repeat: no-repeat;
  background-size: 12% 16%;
  background-position-y: 277px;
  background-position-x: center;
}

ptcg-hand {
  flex: 0 0 auto;
  margin-top: -8%;
}
