:host {
  display: block;
  width: 100%;
  height: 100%;
}

.board-3d-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.board-3d-canvas {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  background: transparent;
}