@import '../../../theme/global.scss';

:host {
  display: inline-flex;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

$ptcg-deck-card-width: map-get($ptcg-size, card) + map-get($padding, small);

.ptcg-deck-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: map-get($padding, small);
  width: $ptcg-deck-card-width;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}



ptcg-card {
  display: block;
  touch-action: none;
  width: map-get($ptcg-size, card);
}

.ptcg-deck-card-label {
  display: block;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ptcg-deck-card-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 34px;
  bottom: 10px;
  width: 32px;
  height: 32px;
  border: 2px solid $bg-secondary;
  background-color: $bg-primary;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.ptcg-deck-card-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 70px;
  bottom: 12.5px;
  width: 27px;
  height: 27px;
  border: 2px solid $bg-secondary;
  background-color: $bg-primary;
  border-radius: 50%;
  color: $text-primary;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  &.library-card {
    right: 65px;
  }
}

.ptcg-deck-card-add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3px;
  bottom: 12.5px;
  width: 27px;
  height: 27px;
  border: 2px solid $bg-secondary;
  background-color: $bg-primary;
  border-radius: 50%;
  color: $text-primary;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  &.library-card {
    right: 8px;
  }
}

.ptcg-deck-card-info {
  display: flex;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.favorite-icon-button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0 !important;
  margin: 0;
  background-color: rgba($bg-primary, 0.6);
  color: $twinleaf-500;
  opacity: 0.9;
  transition: opacity 0.2s, background-color 0.2s, transform 0.2s;
  z-index: 12;
  width: 28px;
  height: 28px;
  min-width: 28px !important;
  min-height: 28px !important;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: visible;

  &:hover {
    background-color: rgba($bg-primary, 0.8);
    transform: scale(1.1);
    opacity: 1;
  }

  ::ng-deep {
    .mat-icon-button-wrapper {
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// .ptcg-card-damage {
//   z-index: 3;
//   position: absolute;
//   top: -2%;
//   right: -2%;

//   :host-context(.upside-down) & {
//     transform: rotate(180deg);
//   }
// }