@use 'sass:math';
@import '../../../theme/variables.scss';

:root {
  --sidebar-width: 400px; // Adjust this value to match your sidebar width
  --card-size: 8vmin;
  --padding-small: 1vmin;
  --padding-normal: 2vmin;
}

$board-min-width: calc((4 + #{$ptcg-bench-slots}) * (var(--card-size) + #{map-get($padding, small)}));
$board-min-height: calc(6 * var(--card-size) * #{$card-aspect-ratio} + 2 * #{map-get($padding, medium)});

:host {
  transform: translateY(0%);
  display: flex;
  overflow: auto;
  z-index: 0;
  justify-content: center;
  width: calc(100vw - var(--sidebar-width));
  height: 100%;
  background-color: #091624;
}

.ptcg-board-outer-container {
  width: 100%;
  height: 82.5%;
  // overflow: hidden;
}

.responsive-board {
  min-width: 990px;
}

@media (max-width: 990px) {
  .responsive-board {
    transform-origin: top left;
    transform: scale(calc(100vw / 990));
    height: calc(100vh * (990 / 100vw));
  }
}

.ptcg-board-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  width: 75%;
  height: 100%;
  transform: translateY(4%); // Apply transformY by default

  @media (min-aspect-ratio: 4/3) {
    transform: perspective(55em) rotateX(18deg);
  }

  transform-origin: center center;
  transition: transform 0.5s ease;
}

.upside-down {
  transform: scale(-1, -1);
}

.ptcg-board-player {
  display: grid;
  grid-template-columns: 2fr repeat(3, #{math.div($ptcg-bench-slots, 3)}fr) 2fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "prizes stadium active supporter deck"
    "prizes bench bench bench discard";

  &.upside-down {
    transform: rotate(180deg);
  }
}

.ptcg-board-container {
  position: relative;
  overflow: hidden;
}

.ptcg-board-player {
  position: relative;
  z-index: 1;
}

#bottom_div,
#top_div {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#bottom_div:after {
  content: '';
  position: absolute;
  top: 60%;
  left: -55%;
  right: -55%;
  height: 100%;
  // background: linear-gradient(0deg, #1a202cb5, #0d1016af), rgba(0, 90, 207, 0.75);
  background: rgba(0, 90, 207, 0.225);
  background-size: 56%;
  background-position: center, top;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  margin-top: -50px;
  z-index: -1;
}

#top_div:after {
  content: '';
  position: absolute;
  top: -20vh;
  left: -40%;
  right: -40%;
  height: 50vh;
  // background: linear-gradient(0deg, #1a202cb5, #0d1016af), rgba(255, 0, 0, 0.75);
  background: rgba(255, 0, 0, 0.225);
  background-size: 56%;
  background-position: center;
  transform: scaleY(-1);
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  z-index: -1;
}

.background-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12.5%, -50%);
  z-index: -1;
  pointer-events: none;
}

.background-image-container img {
  width: 25%;
  height: auto;
  opacity: 0.5;
}

.ptcg-board-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;

  >ptcg-board-card,
  >.ptcg-board-drop-target {
    width: var(--card-size);
    height: calc(var(--card-size) * #{$card-aspect-ratio});
    max-width: 100%;
  }
}

.ptcg-board-active {

  >ptcg-board-card,
  >.ptcg-board-drop-target {
    width: calc(var(--card-size) * 1.45);
    height: calc(var(--card-size) * 1.45 * #{$card-aspect-ratio});
    max-width: 100%;
  }
}

.ptcg-board-bench {

  >ptcg-board-card,
  >.ptcg-board-drop-target {
    width: calc(var(--card-size) * 1.15);
    height: calc(var(--card-size) * 1.15 * #{$card-aspect-ratio});
    max-width: 100%;
  }
}

.ptcg-board-supporter,
.ptcg-board-stadium,
.ptcg-board-deck,
.ptcg-board-prizes,
.ptcg-board-discard,
.lost-zone {

  >ptcg-board-card,
  >.ptcg-board-drop-target {
    width: calc(var(--card-size) * 1.15);
    height: calc(var(--card-size) * 1.15 * #{$card-aspect-ratio});
    max-width: 100%;
  }
}

.ptcg-board-drop-target>ptcg-board-card {
  display: block;
  width: 100%;
}

ptcg-board-card.draggable {
  touch-action: none;
}

ptcg-board-prizes {
  grid-area: prizes;
}

.ptcg-board-active {
  grid-area: active;
  // transform: scale(1.25);
  transform-origin: center bottom;
}

.deck-container {
  grid-area: deck;
  align-self: start;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .deck-card {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.discard-container {
  grid-area: discard;
  align-self: start;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .discard-card {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ptcg-board-supporter {
  grid-area: supporter;
  align-self: start;
}

.ptcg-board-deck {
  grid-area: deck;
  align-self: center;

  .deck-container {
    grid-area: deck;
    align-self: center;
    width: calc(var(--card-size) * 1.15);
    height: calc(var(--card-size) * 1.15 * #{$card-aspect-ratio});

    .deck-card {
      grid-area: deck;
      align-self: center;
      width: calc(var(--card-size) * 1.15);
      height: calc(var(--card-size) * 1.15 * #{$card-aspect-ratio});
    }
  }
}

.card-count {
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.ptcg-board-bench {
  grid-area: bench;
}

.ptcg-board-discard {
  grid-area: discard;
  align-self: center;

  .discard-container {
    grid-area: discard;
    align-self: center;
    width: calc(var(--card-size) * 1.15);
    height: calc(var(--card-size) * 1.15 * #{$card-aspect-ratio});

    .discard-card {
      grid-area: discard;
      align-self: center;
      width: calc(var(--card-size) * 1.15);
      height: calc(var(--card-size) * 1.15 * #{$card-aspect-ratio});
    }
  }
}

.ptcg-board-stadium {
  grid-area: stadium;
}

.lost-zone {
  // align-self: flex-start;
  transform: rotate(-90deg);
}

.stadium-card {
  align-self: flex-start;
  margin-top: -40px;

  &.stadium-card-down {
    transform: rotate(180deg);
  }
}

.ptcg-card-preview {
  border-radius: $card-border-radius;
  position: absolute;
  width: 91.2px; // Increased from var(--card-size)
  transform: translate(15%, -55%); // Center on cursor
  pointer-events: none;
}