@import '../../../../theme/variables.scss';

$card-width: calc(64vh / #{$card-aspect-ratio} - 2 * #{map-get($padding, normal)});

mat-dialog-content {
  max-height: none;
  overflow: hidden;
}

.ptcg-image-container {
  min-width: 100%;
  width: $card-width;
}

.ptcg-url-controls {
  margin-top: map-get($padding, normal);
}

.ptcg-url-input-hint {
  margin-top: 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}