.root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.spinner {
  animation: loadingRotator 1.4s linear infinite;
}

.path {
  stroke: currentColor;
  stroke-linecap: round;
  animation: loadingDash 1.5s ease-in-out infinite;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@keyframes loadingRotator {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loadingDash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
