<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  <p *ngIf="message">{{ message }}</p>

  <form #form="ngForm" autocomplete="off">

    <!-- Number -->
    <mat-form-field>
      <mat-label>{{placeholder}}</mat-label>
      <input matInput type="text" name="value" [placeholder]="placeholder" ptcgNameValidator
        [ptcgInvalidValue]="invalidValue" required maxlength="32" [(ngModel)]="value" #nameField="ngModel">
      <mat-error *ngIf="!nameField.pristine && nameField.invalid">
        <div *ngIf="nameField.errors?.name" translate>VALIDATION_INVALID_NAME_FORMAT</div>
        <div *ngIf="nameField.errors?.invalidValue" translate>VALIDATION_NAME_ALREADY_IN_USE</div>
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>

<div class="dialog-actions">
  <twinleaf-button [text]="'BUTTON_CANCEL' | translate" color="secondary" (clicked)="cancel()">
  </twinleaf-button>
  <twinleaf-button [text]="'BUTTON_OK' | translate" (clicked)="confirm()" [disabled]="form.invalid">
  </twinleaf-button>
</div>