<h2 mat-dialog-title translate>PROFILE_SELECT_AVATAR</h2>

<mat-dialog-content>
  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate" class="ptcg-u-top">
  </mat-progress-bar>

  <div class="ptcg-avatar-grid">
    <div class="ptcg-avatar-grid-container">
      <div *ngFor="let avatar of avatars" class="ptcg-avatar-grid-item"
        [class.ptcg-avatar-selected]="(defaultAvatar$ | async) === avatar.fileName" (click)="markAsDefault(avatar)">
        <ptcg-avatar [avatarFile]="avatar.fileName" [openAvatarPopup]="true">
        </ptcg-avatar>
      </div>
    </div>
  </div>

  <div class="ptcg-u-padding" *ngIf="avatars.length === 0" translate>
    PROFILE_NO_AVATARS
  </div>
</mat-dialog-content>

<div class="dialog-actions">
  <span class="ptcg-u-spacer"></span>
  <twinleaf-button [text]="'BUTTON_CLOSE' | translate" (clicked)="close()">
  </twinleaf-button>
</div>