<div class="login-container" [class.is-loading]="loading || initialLoading">
  <div *ngIf="loading || initialLoading" class="loading-spinner" [@fadeInOut]>
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>

  <ng-container *ngIf="!loading && !initialLoading">
    <div class="logo" [@slideFadeIn]>
      <img src="assets/tl-open-beta.webp" alt="Logo" (load)="onLogoLoad()" (error)="onLogoError()"
        [style.opacity]="logoLoaded ? '1' : '0'" [style.transition]="'opacity 0.3s ease'">
    </div>

    <div class="login-form-container" [@formFadeIn]>
      <twinleaf-form [fields]="loginFormFields" [submitText]="'BUTTON_LOGIN' | translate" [loading]="loading"
        [disabled]="loading" formStyle="default" (formSubmit)="onFormSubmit($event)"
        (formChange)="onFormChange($event)">
      </twinleaf-form>

      <div *ngIf="errorMessage" class="error-message" [@errorShake]>
        {{ errorMessage }}
      </div>

      <div class="links">
        <a (click)="register()">{{ 'LOGIN_CREATE_ACCOUNT' | translate }}</a>
        <div *ngIf="allowServerChange" class="server-change">
          <button (click)="changeServer()">
            {{ 'LOGIN_CHANGE_SERVER' | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>