@use '~@angular/material' as mat;
@import '../../../theme/variables.scss';

@mixin ptcg-toolbar-height() {
  height: $ptcg-toolbar-height-desktop;

  @media (max-width: 599px) {
    height: $ptcg-toolbar-height-mobile;
  }
}

:host {
  z-index: 3;
}

mat-toolbar {
  @include mat.elevation(5);
  @include ptcg-toolbar-height();
  flex: 0 0 auto;
  background-color: #0E1117;

  .epsd-spacer {
    flex: 1 1 auto;
  }

  &.is-logged-in {
    padding-right: 0;
  }
}

.notification-badge {
  margin-left: 8px;
}

::ng-deep .mat-badge-content {
  transform: scale(.8) !important;
  transform-origin: center;
  margin-top: 10px;
  margin-right: 6px;
  font-size: 12px;
  font-weight: bold;
}

.horizontal-nav {
  display: flex;
  align-items: center;
  gap: 8px; // Adjust this value to control spacing between items

  .title-text {
    margin-top: 3px;
    font-size: 14px;
  }
}

ptcg-user-bar {
  cursor: pointer;
  display: block;
  left: unset;
  width: map-get($ptcg-size, sidebar);
  transform: scale(.8) !important; // Increase this value to make the badge larger
}

.games-menu {
  .game-menu-item {
    a[mat-menu-item] {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 8px;

      ptcg-sidenav-item {
        flex: 1;
      }

      .close-button {
        margin-left: 8px;
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: white;
        }
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  .mat-menu-item {
    height: 36px;
    line-height: 36px;
  }
}

.notification-dot {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 8px;
  height: 8px;
  background-color: #ff4081;
  border-radius: 50%;
}