<h2 mat-dialog-title translate>USERS_USER_DETAILS</h2>

<mat-dialog-content>
  <div class="ptcg-user-info-popup-pane">
    <ptcg-user-info-pane [user]="user"></ptcg-user-info-pane>
  </div>
</mat-dialog-content>

<div class="dialog-actions">
  <twinleaf-button [text]="'BUTTON_SHOW_PROFILE' | translate" [routerLink]="['/profile', userId]" (clicked)="close()">
  </twinleaf-button>
  <twinleaf-button *ngIf="visitor$ | async" [text]="'BUTTON_SEND_MESSAGE' | translate" [routerLink]="['/message', userId]"
    (clicked)="close()">
  </twinleaf-button>
  <twinleaf-button *ngIf="isAdmin$ | async" [text]="(isBanned$ | async) ? ('PROFILE_UNBAN_USER' | translate) : ('PROFILE_BAN_USER' | translate)"
    [color]="(isBanned$ | async) ? 'secondary' : 'primary'" (clicked)="banUser(userId)">
  </twinleaf-button>

  <span class="ptcg-u-spacer"></span>

  <twinleaf-button [text]="'BUTTON_CLOSE' | translate" (clicked)="close()" cdkFocusInitial>
  </twinleaf-button>
</div>